.container{
    background-color: gray;
}
.box1{
    border: 4px solid red ;
    background-color: white;
    color:rgb(182, 24, 148);
    text-shadow:4px  purple;
    text-align: center;
    font-style: italic;
    border-radius: 20px;
    width: 300px;
    justify-content: center;
    margin-left: 550px;
    position:relative;
    font-weight:900px;
    font-weight: bolder;
    box-shadow: 5px 5px  purple;
}
.container2{
    border: 5px solid green;
    
    
}
.container3{
display: flex;
}
.box2{
    border: 4px solid red ;
    background-color: white;
    color: rgb(88, 5, 88);
    text-align: center;
    border-radius: 20px;
    width: 300px;
    justify-content: center;  
    font-weight: bolder;
    box-shadow: 5px 5px  purple;
    text-shadow: 10px rgb(88, 5, 88); 
    height: 160px;
}
.box3{
    border: 4px solid red ;
    background-color: white;
    color: rgb(88, 5, 88);
    text-align: center;
    margin-left: 1000px;
    border-radius: 20px;
    width: 300px;
    justify-content: center;

    font-weight: bolder;
    box-shadow: 5px 5px  purple;
    text-shadow: 4px rgb(88, 5, 88);
}
img{
    height: 100px;
    width: 150px;
    margin-top:30px ;
}
.container4{
    display: flex;
    margin: 20px;
}
.box4{
    border: 4px solid red ;
    background-color: white;
    color: rgb(88, 5, 88);
    text-align: left;
    border-radius: 20px;
    width: 150px;
    height: 160px;
    justify-content: center;
    font-weight: bolder;
    box-shadow: 5px 5px  purple;
    text-shadow: 4px rgb(88, 5, 88);
}

.box5{
    border: 4px solid red ;
    background-color: white;
    color: rgb(88, 5, 88);
    text-align: center;

    
    border-radius: 20px;
    width: 190px;
    justify-content: center;
    margin-left: 880px;
    height: 230px;
    font-weight: bolder;
    box-shadow: 5px 5px  purple;
    text-shadow: 4px rgb(88, 5, 88);
}
input{
text-align: center;
}
button{
    background-color: red;
    border-radius: 20px;
}
.fixedbox{
    border: 4px solid red;
    background-color: greenyellow;
    
    position:fixed;
    font-style: italic;
    color: red;
    justify-content: center;
    border-radius: 20px;
   background-position: center; 
   text-align: center;
   margin-left: 500px;
   width: 300px;
    
}
.container5{
    background-color: rgb(33, 136, 33);
    width: 850px;
    margin: auto;
    border: 6px solid rgb(185, 6, 185) ;
    text-align: center;

}
.items{
    background-color:hsl(64, 61%, 71%);
    font-style: italic;
    border: 2px solid gray;
    margin: 4px;
    box-sizing: border-box;
    text-align: center;
    

}

#fruits{
    float: left;
    width: 49%;
    margin-top: 15px;
    margin-bottom: 10px;
}
#vegetables{
    float: right;
    width: 49%;
    margin-top: 15px;
    margin-bottom: 10px;
}
#otheritems{
    
    clear: both;
    margin-bottom: 10px;
   
}
